/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */

/*
 * Body
 */
body {
  margin: 0;
  padding: 4px 0 0;
  background:url(../images/top-line.jpg) left top #fff repeat-x
}

#page-wrapper {
margin-bottom:20px
}

#page {
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * Header
 */
#header {
	height: 65px;
	background:url(../images/header-bg01.jpg) left bottom #f8f8f8 repeat-x
}

#header .section {
}

#logo /* Wrapping link for logo */ {
  float: left; /* LTR */
  margin: 0;
  padding: 0;
}

#logo img {
  vertical-align: bottom;
}

#name-and-slogan /* Wrapper for website name and slogan */ {
  float: left;
}

h1#site-name,
div#site-name /* The name of the website */ {
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;
}

#site-name a:link,
#site-name a:visited {
  color: #000;
  text-decoration: none;
}

#site-name a:hover,
#site-name a:focus {
  text-decoration: underline;
}

#site-slogan /* The slogan (or tagline) of a website */ {
}

.region-header /* Wrapper for any blocks placed in the header region */ {
  /*clear: both;*/ /* Clear the logo */
  float:left; 
  width: 920px;
  height: 64px;
}

/*
 * Main (container for everything else)
 */
#main-wrapper {
}

#main {
}

/*
 * Content
 */
#content {
}

#content .section {
}

.region-highlighted {
}

.breadcrumb /* The path to the current page in the form of a list of links */ {
  padding-bottom: 0; /* Undo system.css */
}

h1.title, /* The title of the page */
h2.node-title, /* Title of a piece of content when it is given in a list of content */
h2.block-title, /* Block title */
h2.title, /* Comment section heading */
h2.comment-form, /* Comment form heading */
h3.title /* Comment title */ {
  margin: 0;
}

tr.even /* Some tables have rows marked even or odd. */ {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

tr.odd {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

div.messages /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */ {
  margin: 1.5em 0; /* Drupal core uses "6px 0" margin */
}

div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

div.status /* Normal priority messages */ {
}

div.warning,
tr.warning /* Medium priority messages */ {
  /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error /* High priority messages. See also the .error declaration below. */ {
}

.error /* Errors that are separate from div.messages status messages. */ {
  /* color: #e55; */ /* Drupal core uses a #e55 background */
}

.warning /* Warnings that are separate from div.messages status messages. */ {
  /* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

div.tabs /* See also the tabs.css file. */ {
}

.region-help /* Help text on a page */ {
}

.more-help-link /* Link to more help */ {
}

.region-content /* Wrapper for the actual page content */ {
}

ul.links /* List of links */ {
}

ul.links.inline {
  display: block; /* Let the links be inline, but the container be a block. */
}

ul.links li {
  padding: 0 1em 0 0; /* LTR */
}

.item-list .pager /* A list of page numbers when more than 1 page of content is available */ {
  padding: 0;
}

.item-list .pager li /* Each page number in the pager list */ {
  padding: 0 0.5em;
}

.feed-icon /* The link to the RSS or Atom feed for the current list of content */ {
}

.more-link /* Aggregator, blog, and forum more link */ {
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */
.region-sidebar-first {
}

.region-sidebar-first .section {
	/*background: url("../images/login-bg.png") no-repeat scroll center bottom transparent;*/
    margin-bottom: 20px;
    padding-bottom: 12px;
    width: 160px;
}

/*

 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */
.region-sidebar-second {
}

.region-sidebar-second .section {
}

/*
 * Footer
 */
.region-footer {
}

/*
 * Page bottom
 */
.region-bottom /* Wrapper for any blocks placed in the page bottom region */ {
}


.global-wrapper { width: 990px; margin: 0 auto}
#footer { background:url(../images/top-line.jpg) center top #f8f8f8 repeat-x}
.block-nice-menus { width:720px; float:left}
.block-menu-menu-top-right-menu { width:300px; float:right}

#header a#logo{	
	display: block;
    float: left;
    height:30px;
    margin: 17px 42px 0 0;
    width: 22px;
}
#header .block { margin-bottom:0!important;}
#block-menu-menu-top-right-menu { float:right!important;}
#block-user-login label  { color:#87888a}
#block-user-login input[type="text"], #block-user-login input[type="password"] { width: 180px; border:#e5e5e5 1px solid; color:#000; padding: 5px 5px;}
input.form-submit { background:url(../images/button-bg.jpg) left bottom repeat-x #234a81; display:block;  width:auto;  height:32px; border:none; padding: 0 15px; line-height: 24px; font-family: Arial, Helvetica, sans-serif; font-weight: bold; color:#ffffff; border:#00275e 1px solid; cursor:pointer}
input.login-btn { background:url(../images/login-button-bg.jpg) left bottom no-repeat #234a81!important; border:none; padding: 0 15px 0 32px!important;}
/*a.top_global_erc { background:url(../images/icon01.png) left center no-repeat}
a.top_b_lab active { background:url(../images/icon02.png) left center no-repeat}*/
/*left menu*/
.menu-name-menu-business-lab-left-menu ul.menu { font: 12px/18px Arial, Helvetica, sans-serif normal; margin: 0 0 10px; padding: 0;}
.menu-name-menu-business-lab-left-menu ul.menu ul li a { padding:6px 0px 6px 50px;  background:url(../images/sidebar-icon.png) 20px center no-repeat; border:none!important;}
.menu-name-menu-business-lab-left-menu ul.menu li a { color:#3C6296; padding: 6px 0 6px 30px; text-decoration: none; border-top: #eeeeee 1px solid; display: block; background:url(../images/sidebar-icon.png) left center no-repeat }
.menu-name-menu-business-lab-left-menu ul.menu li:first-child a {border-top:none}
.breadcrumb { color:#999; margin-bottom: 10px;}
.breadcrumb a, .breadcrumb a:hover {color:#3C6296; text-decoration:none}
/*footer*/
.clr { clear:both}
#footer { padding: 38px 0 0}
#footer a#logo{
    height: 30px;
    width: 22px;
	float:left;
	margin-right: 50px!important;
}
#footer .block-menu {
	width: 160px;
	float:left
}
#footer .block-menu .block-title {
    color: #666666;
    font-size: 12px;
    margin-bottom: 15px;
	font-weight:normal!important;
}
#footer .block-menu ul{
    padding:0!important;
}
#footer .block-menu ul li a {
    color: #3C6296;
    outline: medium none;
    text-decoration: none;
}
#footer .block-menu ul li {
    color: #3C6296;
    font-size: 11px;
    list-style-type: none;
    margin-bottom: 5px;
}

.home-page-block {
    border: 1px solid #F3F3F3;
    float: left;
    margin: 0 6px 6px 0;
    min-height: 135px;
    padding: 0 10px 10px;
    width: 302px;
}
.home-page-block img {
    float: left;
    margin-top: 8px;
    padding: 7px 10px 0 0;
}
.home-page-block h2 {
    color: #336699;
    font-size: 13px;
	font-weight:400;
	margin: 13px 0 5px 0;
	
}
.home-page-block a, .home-page-block a:visited  {
	color:#336699;
    text-decoration: none;
}
.home-page-block a:hover {
    color: #000;
}
.home-page-block p {
    color: #716C6C;
    font-size: 12px;
}

/*ALL PAGE STYLE*/
.field-name-field-blab-header {
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 15px;
    margin-top: 15px;
    padding-bottom: 0;
    position: relative;
    color: #336699;
    font-family: Helvetica;
    font-size: 1.3em;
    font-weight: 700;
    padding-bottom: 10px;
}
.business-lab-general-title-underline h2 {
    color: #3C78B5;
    font-family: Helvetica;
    font-size: 24px;
    margin-bottom: 0;
    margin-top: 20px;
}
span.business-lab-general-green { color: #84BE19;}
.field-collection-view { 
	 border-bottom: 0px;
    margin: 0 1em;
    padding: 1em 0 0.3em;
}

.field-collection-container {
    border-bottom: 0px;
    margin-bottom: 1em;
}

/* ------- added by PD 03.05.2012, starts ------- */
.view-id-solutions_listing h2{
	color: #3866c6;
	font-size: 13px;
}

.view-id-solutions_listing p ul{
	color: #848585;
	font-size: 13px;
}
/* ------- added by PD 03.05.2012, ends   ------- */

/* ------- added by AR 08.05.2012, start   ------- */
#navigation .contextual-links-region { width:50%; float:left}
ul.header-cart-info { list-style:none; margin:0; padding:0}
ul.header-cart-info li { width:auto; float:right; margin-left: 10px}
ul.header-cart-info li a{ color:#336699; text-decoration:none; padding: 0 5px; display:inline}
ul.header-cart-info li.header-cart-info-item span, ul.header-cart-info li.header-cart-info-submit span { background-image:url(../images/header-cart-info-icons.gif); background-repeat:no-repeat); width: 24px; height:16px; display:block; float:left; margin-top: 5px;} 
ul.header-cart-info li.header-cart-info-submit span {background-position: 24px 0;}
ul.header-cart-info li.header-cart-info-item span { background-position: 0 0}
.imagetoggle img { float:right}
.soln-leftlist  {border: 1px solid #F3F3F3; float: left; margin: 0 6px 10px 0; padding: 3px 5px 5px; width: 150px}
.soln-leftlist .field-content a {color: #3C78B5; font-size: 13px; text-decoration: none}
.soln-leftlist .views-field-title a {color: #3C78B5; font-size: 13px; text-decoration: none}
/* ------- added by AR 08.05.2012, end   ------- */
.globaltablecls table {/*border-collapse:separate*/ width:100%}
.globaltablecls table tr td {empty-cells:hide}
.globaltablecls table tr td div {border: 1px solid #F3F3F3; padding: 10px 10px; margin-left: 5px; margin-bottom:5px; min-height: 86px }
.globaltablecls table tr td div h2 {
	margin:0;
	padding:0
}
.globaltablecls table tr td div h2 a{
	color: #336699;
	font-size: 13px;
	font-weight:400;	
	margin:0 0 5px 0;
	text-decoration:none
}
.globaltablecls table tr td div p{
	color: #333333;
	font-size: 13px; 
}
.globaltablecls table tr td div img {
	float:left; margin: 0 10px 0px 0
}

.globaltablecls1 table {/*border-collapse:separate*/ width:100%}
.globaltablecls1 table tr td div {border: 1px solid #F3F3F3; padding: 10px 10px; margin-bottom:5px; min-height: 55px;}
.globaltablecls1 table thead { display: none; }
.globaltablecls1 table tbody tr { border: 0px; background-color: #fff; }
.globaltablecls1 table caption { float:left; color: #336699; font-size: 1.3em; margin: 1.154em 0; font-weight: bold;}
.globaltablecls1 table tr td div h2 {
	margin:0;
	padding:0
}
.globaltablecls1 table tr td div h2 a{
	color: #336699;
	font-size: 13px;
	font-weight:400;	
	margin:0 0 5px 0;
	text-decoration:none
}
.globaltablecls1 table tr td div p{
	color: #333333;
	font-size: 13px; 
}
.globaltablecls1 table tr td div img {
	float:left; margin: 0 10px 0px 0
}

.view-id-solutions_listing .view-grouping-header h2 {
	color: #3c78b5;
	font-size: 14px;
	border: 1px solid #F3F3F3;
	padding: 5px 10px;
	margin: 0.7em 0;
}
.view-solutions-listing .view-grouping-content .views-row  {
	background: none repeat scroll 0 0 #eaeaea;
	padding: 5px 10px;
	margin-bottom: 15px;
	border: #b2b2b2 1px solid
}
.view-solutions-listing .view-grouping-content #soltextid {
	padding: 0px 10px;
}
.view-id-solutions_listing .view-grouping-content h2, .view-id-solutions_listing .view-grouping-content h2 a {
	color: #757575;
	font-size: 14px;
	border:none!important;
	padding: 0;
	margin: 0;
	text-decoration:none
}
.view-id-solutions_listing .view-grouping-content a {
	color: #00b034;
	text-decoration:none;
	font-weight: bold;
}

/* ------- added by PD 14.05.2012, starts ------- */
.demobooking{
	background-image:url(../images/addToCartBtn.png); 
	background-repeat:no-repeat);
	float: right;
	/*width: 128px;
	height: 22px;*/
	height: 30px;
    width: 124px;
}

.bookingheader{
	padding-bottom: 18px;
    padding-top: 5px;
	border-bottom: #B2B2B2 solid 1px;
}

*+html .demobooking {
	position:relative;
	top:-22px;
}

*+html .bookingheader {
	height: 15px;
}

#customer-view div table {
	border: red solid 1px;
}
/* ------- added by PD 14.05.2012, ends --------- */

/* ------- added by AR 22.05.2012, start --------- */
a.overlay-del-cart, a.overlay-del-cart:visited, a.overlay-del-cart:active {color: #336699;}
a.overlay-del-cart { margin: 10px 0; float:left; clear:both; text-decoration:none}
a.overlay-del-cart img { margin-right: 8px; display: block; float: left;}
.page-node-add-booking .multipage-controls-list input.form-submit { float: right!important;  margin: 0 -10px 0 10px!important; *margin: 0 0 0 1px!important;}
.page-node-add-booking .multipage-controls-list input#edit-submit { background:url(../images/submit-bg-01.jpg) left top repeat-x #4787ed; border:#4079d5 1px solid }
.page-node-add-booking  a.multipage-link-previous { margin-left: 0px!important;}
.page-node-add-booking .multipage-controls-list #edit-actions { float: right!important; *float: right!important; margin-right: 824px!important; *margin-right: 775px!important; width: 80px; min-width:48px\9!important;}
.page-node-add-booking a.multipage-link-previous {  float: left!important; margin-left: 0!important;}
.block-cart-credential-area { width:50%; float: left}

.multipage-controls-list { *border: none!important; }
.multipage-controls-list input.form-submit  { *border: #ddd 1px solid!important; *float:left!important; border: #ddd 1px solid\9; float:left\9; }
a.multipage-link-previous { *display:block!important; *width:100px!important; *height: 17px!important;line-height: 20px!important; *border: 1px solid #dddddd!important; *text-align:center!important; width:60px\9; height: 17px\9; line-height: 20px\9; border: 1px solid #dddddd\9; text-align:center\9;}

/*28th May 2012 AR */
.lightbox-processed .view-grouping-content h3 { font-size:13px; color:#333; font-weight:400}
a.big-button span { height: 52px; display:block; padding-left: 54px; float:left; background-image:url(../images/button-icon-left01.png); background-repeat:no-repeat; margin-left:-5px; cursor:pointer; margin-right: 10px }
a.video span { background-position:0 0px}
a.arrow span{ background-position:0 -52px}
a.big-button  { height: 52px; display:block; width:auto; float:left; background:url(../images/button-right01.png) 100% 0 no-repeat; padding: 0 60px 0 0px; font-family:Arial, Helvetica, sans-serif; font-size: 15px; font-weight:700; color:#fff!Important; text-decoration:none; line-height:52px; margin: 10px 5px}
/* ------- added by AR 22.05.2012, end --------- */
